@mixin grid($col, $m){
    float: left;
    width: ((100% - (($col - 1) * $m)) / $col );
    margin-right: $m;
    &:nth-child(#{$col}n){
      margin-right: 0;
    }
  }


  @mixin clearFix{
    &:after{
      content: "";
      display: block;
      clear: both;
    }
  }


@mixin desktop{
  @media screen and (min-width: 1025px) and (max-width:1400px)  {
    @content;
  }
}

@mixin laptop{
  @media screen and (min-width: 769px) and (max-width:1024px)  {
    @content;
  }
}

@mixin tablet{
  @media screen and (min-width: 481px) and (max-width:768px)  {
    @content;
  }
}

@mixin mobile{
  @media screen and (max-width:480px)  {
    @content;
  }
}