@import "./variables";
@import "./default";


header{
    background-image: url("../images/img_hero-image.jpg");
    background-color: #406b55;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;

    position: relative;

    button{
        position: absolute;
        top: 520px   }
}//end of header

nav{
    padding-top: 34px;
    height: 60px;
    width: 100%;
    background-color: rgba($black,0.1);
    display:flex;
    align-items: center;
    
}

.logo{
    width: 30%; 
}

.space{
    width:40%;
}

.main-nav{
    width: 30%;

    ul{
        width: 100%;
        display:flex;
        justify-content: space-between;
        text-align: right;
        
    }

    a{
        color: $white;
        font-size: 16px;
        font-weight: 400;
        opacity: 70%;

        &:hover{
            color:$ninjaGreen;
        }

        &.active{
            color:$ninjaGreen;
        }
    }
}//end of main-nav

.hero{
    display:flex;
    justify-content: center;
}

.hero-text{
    font-size: 82px;
    font-weight: 700;
    color:$white;
    position: absolute;
    top:250px;
    text-align: center;
}

.hero-sub-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    opacity: 70%;
    position: absolute;
    top:380px;
    text-align: center;
    color: $white;
    max-width: 624px;
}

button{
    background-color: $green;
    border-radius: 4px;
    border: none;
    width: 192px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        color:$white;
        font-size: 16px;
        font-weight: 400;
        padding-right: 8px;
    }
}//end of button


section{
    h1{
        font-size: $textPrimary;
        font-weight: 400;
        color: $colorPrimaryText;
    }
}



